{:paths ["src/main" "resources"]
 :deps  {org.clojure/clojure                 {:mvn/version "1.11.0-alpha1"}
         scad-tarmi/scad-tarmi               {:mvn/version "0.6.0"}
         plexus/plexus               {:local/root "../plexus"}
         metosin/malli                       {:mvn/version "0.5.1"}
         scad-app/scad-app                   {:mvn/version "1.0.0"}
         scad-clj/scad-clj                   {:mvn/version "0.5.3"}}
 :aliases
 {:run-m   {:main-opts ["-m" "foam-generator.core"]}
  :run-x   {:ns-default foam-generator.main
            :exec-fn    greet
            :exec-args  {:name "Clojure"}}
  :test    {:extra-paths ["src/test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn    cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot        true
                           :jar        "foam-generator.jar"
                           :main-class "foam-generator.core"
                           :sync-pom   true}}}}
